<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renatoaugusto.sqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.renatoaugusto.MenuPrincipal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.renatoaugusto.Calendario"
            android:label="@string/title_activity_calendario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.renatoaugusto.body.Cadastrar2"
            android:label="@string/title_activity_cadastrar2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.renatoaugusto.Cadastrar"
            android:label="@string/title_activity_cadastrar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.renatoaugusto.TelaListView"
            android:label="@string/title_activity_tela_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.renatoaugusto.Compromissos"
            android:label="@string/title_activity_compromissos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>